// Обнуление
*,
*::before,
*::after {
  box-sizing: border-box;
  border: 0;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  color: inherit;
}

ul,
ol,
li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
  padding: 0;
  margin: 0;
}

html,
body {
  height: 100%;
  min-width: 320px;
  line-height: 1;

  &._lock {
    overflow: hidden;
  }
}

[class*='-ibg'] {
  position: relative;

  img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    top: 0;
    left: 0;
  }
}

[class*='-ibg_contain'] {
  img {
    object-fit: contain;
  }
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  overflow: hidden;
}

.page {
  flex: 1 1 auto;
}

@import 'components/normalize';
@import 'components/functions';
@import 'components/vars';
@import 'components/mixins';
@import 'components/fonts';
@import 'components/icons';
@import 'components/global';

@import 'components/popup';
@import 'components/burger';
@import 'components/rating';

@import 'components/header';
@import 'components/page';
@import 'components/main-block';
@import 'components/catalog-cards';

@import 'components/swiper';

@import 'components/products-slider';
@import 'components/products-new';
@import 'components/products-slider';
@import 'components/sale-products';
@import 'components/articles-module';
@import 'components/products-block';
@import 'components/footer';
