@use 'sass:math';

.page {
  // .page__header
  &__header {
    margin-bottom: rem(30);
  }
}

.breadcrumbs {
  height: rem(22);
  white-space: nowrap;
  overflow: auto;

  // .breadcrumbs__list
  &__list {
    display: flex;
  }

  // .breadcrumbs__item
  &__item {
  }

  // .breadcrumbs__link
  &__link {
    display: flex;
    align-items: center;
    opacity: 0.5;

    &::after {
      content: '\e901';
      @extend %ic;
      font-size: rem(6);
      transform: rotate(-90deg);
      margin: 0 math.div(10, 6) + em;
    }
  }

  // .breadcrumbs__current
  &__current {
    color: $thirdColor;
  }
}

.page {
  // .page__header
  &__header {
  }
  // .page__container
  &__container {
  }
  // .page__title
  &__title {
  }
  // .page__breadcrumbs
  &__breadcrumbs {
  }
}
.title {
}
.breadcrumbs {
  // .breadcrumbs__list
  &__list {
  }
  // .breadcrumbs__item
  &__item {
  }
  // .breadcrumbs__link
  &__link {
  }
  // .breadcrumbs__current
  &__current {
  }
}
.catalog {
  // .catalog__container
  &__container {
  }

  // .catalog__body
  &__body {
    display: grid;
    align-items: start;
    gap: rem(30);

    @media (min-width: $tablet) {
      grid-template-columns: rem(375) 1fr;
    }
  }

  // .catalog__filter
  &__filter {
  }
  // .catalog__content
  &__content {
  }

  // .catalog__controller
  &__controller {
    display: flex;
    justify-content: flex-end;

    &:not(:last-child) {
      margin-bottom: rem(20);
    }
  }

  // .catalog__products
  &__products {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(rem(290), 1fr));
    gap: rem(30);

    &:not(:last-child) {
      @include adaptiveValue('margin-bottom', 60, 30, 1);
    }
  }
}

.catalog {
  @include adaptiveValue('padding-bottom', 120, 40, 1);

  // .catalog__footer
  &__footer {
    display: flex;
    justify-content: space-between;
    gap: rem(20);

    @media (max-width: $tablet) {
      flex-direction: column;
    }
  }

  // .catalog__more
  &__more {
  }
  // .catalog__pagination
  &__pagination {
  }
}
.button {
}

.pagination {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  @include adaptiveValue('gap', 30, 15, 1);
  margin: 0 auto;

  // .pagination__arrow
  &__arrow {
    color: $thirdColor;

    &::before {
      font-size: rem(10);
      transform: rotate(-90deg);
    }

    &:disabled {
      color: rgba(0, 0, 0, 0.12);
    }

    // .pagination__arrow_left
    &_left {
      transform: rotate(-180deg);
    }

    // .pagination__arrow_right
    &_right {
    }
  }

  // .pagination__list
  &__list {
    display: flex;
    align-items: center;
    gap: rem(13);
  }

  // .pagination__item
  &__item {
  }
  // .pagination__link
  &__link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: rem(34);
    height: rem(34);
    border-radius: 50%;
    transition: all 0.3s ease 0s;

    &._active {
      color: #ffffff;
      background-color: $thirdColor;
    }

    @media (any-hover: hover) {
      &:hover {
        color: #ffffff;
        background-color: $thirdColor;
      }
    }
  }
}

.catalog {
  // .catalog__filter
  &__filter {
  }
}

.filter-catalog {
  background: #fefefe;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);

  // .filter-catalog__title
  &__title {
    width: 100%;
    font-size: rem(20);
    line-height: math.div(24, 20);
    font-weight: $thirdFontWeight;
    color: #ffffff;
    background-color: $secondColor;
    padding: rem(20) rem(30);
  }

  // .filter-catalog__items
  &__items {
    @media (max-width: $tablet) {
      display: none;

      &._active {
        display: block;
      }
    }
  }

  // .filter-catalog__price
  &__price {
  }
}

.price-filter {
  padding: rem(30);

  // .price-filter__title
  &__title {
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
    align-items: center;
    width: 100%;

    &::before {
      font-size: rem(8);
      color: $thirdColor;
      transform: rotate(-180deg);
      transition: transform 0.3s ease 0s;
    }

    &._spoller-active {
      &::before {
        transform: rotate(0deg);
      }
    }
  }

  // .price-filter__body
  &__body {
    padding-top: rem(30);
  }

  // .price-filter__inputs
  &__inputs {
    display: flex;
    border-radius: rem(3);
    border: 1px solid #cbcbcb;
    overflow: hidden;

    &:not(:last-child) {
      margin-bottom: rem(60);
    }
  }

  // .price-filter__input
  &__input {
    width: 50%;
    height: rem(42);
    text-align: center;
    padding: 0 rem(15);

    &:not(:last-child) {
      border-right: 1px solid #bcbcbc;
    }
  }

  // .price-filter__range
  &__range {
  }
}

.item-filter-catalog {
  // .item-filter-catalog__title
  &__title {
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
    align-items: center;
    width: 100%;
    color: #ffffff;
    background-color: $secondColor;
    padding: rem(13) rem(30);

    &::before {
      font-size: rem(8);
      color: $thirdColor;
      transform: rotate(-180deg);
      transition: transform 0.3s ease 0s;
    }

    &._spoller-active {
      &::before {
        transform: rotate(0deg);
      }
    }
  }

  // .item-filter-catalog__body
  &__body {
    padding: rem(30);
  }

  // .item-filter-catalog__checkbox
  &__checkbox {
    &:not(:last-child) {
      margin-bottom: rem(22);
    }
  }
}
