<section class="page__articles-module articles-module">
  <div class="articles-module__container">
    <h2 class="articles-module__title">Наши статьи</h2>

    <div class="articles-module__items">
      <article class="articles-module__item item-article">
        <a class="item-article__image-ibg" href="#">
          <img src="../../assets/img/main/articles-module/1.jpg" alt="Img">
        </a>

        <div class="item-article__body">
          <h4 class="item-article__title">
            <a class="item-article__link-title" href="#">Все о ножах: как правильно выбрать</a>
          </h4>
          <div class="item-article__date">24.07.2019</div>
        </div>
      </article>

      <article class="articles-module__item item-article">
        <a class="item-article__image-ibg" href="#">
          <img src="../../assets/img/main/articles-module/2.jpg" alt="Img">
        </a>

        <div class="item-article__body">
          <h4 class="item-article__title">
            <a class="item-article__link-title" href="#">Как правильно выбрать фонарь</a>
          </h4>
          <div class="item-article__date">24.07.2019</div>
        </div>
      </article>

      <article class="articles-module__item item-article">
        <a class="item-article__image-ibg" href="#">
          <img src="../../assets/img/main/articles-module/3.jpg" alt="Img">
        </a>

        <div class="item-article__body">
          <h4 class="item-article__title">
            <a class="item-article__link-title" href="#">Кухонные ножи для хозяек</a>
          </h4>
          <div class="item-article__date">24.07.2019</div>
        </div>
      </article>

      <article class="articles-module__item item-article">
        <a class="item-article__image-ibg" href="#">
          <img src="../../assets/img/main/articles-module/4.jpg" alt="Img">
        </a>

        <div class="item-article__body">
          <h4 class="item-article__title">
            <a class="item-article__link-title" href="#">Кухонные ножи для хозяек</a>
          </h4>
          <div class="item-article__date">24.07.2019</div>
        </div>
      </article>
    </div>
  </div>
</section>