<section class="page__catalog-cards catalog-cards">
  <div class="catalog-cards__container">
    <div class="catalog-cards__item item-catalog-cards">
      <div class="item-catalog-cards__body">
        <h3 class="item-catalog-cards__title"><a class="item-catalog-cards__link-title" href="#">Каталог ножей</a></h3>

        <ul class="item-catalog-cards__list">
          <li class="item-catalog-cards__item"><a class="item-catalog-cards__link" href="#">Разделочные </a></li>
          <li class="item-catalog-cards__item"><a class="item-catalog-cards__link" href="#">Туристические</a></li>
          <li class="item-catalog-cards__item"><a class="item-catalog-cards__link" href="#">Охотничьи</a></li>
        </ul>
      </div>

      <div class="item-catalog-cards__image">
        <img src="../../assets/img/main/catalog-cards/1.jpg" alt="Img">
      </div>
    </div>

    <div class="catalog-cards__item item-catalog-cards">
      <div class="item-catalog-cards__body">
        <h3 class="item-catalog-cards__title"><a class="item-catalog-cards__link-title" href="#">Среднеклинковое
            оружие</a></h3>

        <ul class="item-catalog-cards__list">
          <li class="item-catalog-cards__item"><a class="item-catalog-cards__link" href="#">Разделочные </a></li>
          <li class="item-catalog-cards__item"><a class="item-catalog-cards__link" href="#">Туристические</a></li>
          <li class="item-catalog-cards__item"><a class="item-catalog-cards__link" href="#">Охотничьи</a></li>
        </ul>
      </div>

      <div class="item-catalog-cards__image">
        <img src="../../assets/img/main/catalog-cards/2.jpg" alt="Img">
      </div>
    </div>

    <div class="catalog-cards__item item-catalog-cards">
      <div class="item-catalog-cards__body">
        <h3 class="item-catalog-cards__title"><a class="item-catalog-cards__link-title" href="#">Длинноклинковое
            оружие</a></h3>

        <ul class="item-catalog-cards__list">
          <li class="item-catalog-cards__item"><a class="item-catalog-cards__link" href="#">Разделочные </a></li>
          <li class="item-catalog-cards__item"><a class="item-catalog-cards__link" href="#">Туристические</a></li>
          <li class="item-catalog-cards__item"><a class="item-catalog-cards__link" href="#">Охотничьи</a></li>
        </ul>
      </div>

      <div class="item-catalog-cards__image">
        <img src="../../assets/img/main/catalog-cards/3.jpg" alt="Img">
      </div>
    </div>

    <div class="catalog-cards__item item-catalog-cards">
      <div class="item-catalog-cards__body">
        <h3 class="item-catalog-cards__title"><a class="item-catalog-cards__link-title" href="#">Сувенирные изделия</a>
        </h3>

        <ul class="item-catalog-cards__list">
          <li class="item-catalog-cards__item"><a class="item-catalog-cards__link" href="#">Разделочные </a></li>
          <li class="item-catalog-cards__item"><a class="item-catalog-cards__link" href="#">Туристические</a></li>
          <li class="item-catalog-cards__item"><a class="item-catalog-cards__link" href="#">Охотничьи</a></li>
        </ul>
      </div>

      <div class="item-catalog-cards__image">
        <img src="../../assets/img/main/catalog-cards/4.jpg" alt="Img">
      </div>
    </div>

    <div class="catalog-cards__item item-catalog-cards">
      <div class="item-catalog-cards__body">
        <h3 class="item-catalog-cards__title"><a class="item-catalog-cards__link-title" href="#">Сопутствующие
            товары</a>
        </h3>

        <ul class="item-catalog-cards__list">
          <li class="item-catalog-cards__item"><a class="item-catalog-cards__link" href="#">Разделочные </a></li>
          <li class="item-catalog-cards__item"><a class="item-catalog-cards__link" href="#">Туристические</a></li>
          <li class="item-catalog-cards__item"><a class="item-catalog-cards__link" href="#">Охотничьи</a></li>
        </ul>
      </div>

      <div class="item-catalog-cards__image">
        <img src="../../assets/img/main/catalog-cards/5.jpg" alt="Img">
      </div>
    </div>

    <div class="catalog-cards__item item-catalog-cards">
      <div class="item-catalog-cards__body">
        <h3 class="item-catalog-cards__title"><a class="item-catalog-cards__link-title" href="#">Ножевая мастерская</a>
        </h3>

        <ul class="item-catalog-cards__list">
          <li class="item-catalog-cards__item"><a class="item-catalog-cards__link" href="#">Разделочные </a></li>
          <li class="item-catalog-cards__item"><a class="item-catalog-cards__link" href="#">Туристические</a></li>
          <li class="item-catalog-cards__item"><a class="item-catalog-cards__link" href="#">Охотничьи</a></li>
        </ul>
      </div>

      <div class="item-catalog-cards__image">
        <img src="../../assets/img/main/catalog-cards/6.jpg" alt="Img">
      </div>
    </div>
  </div>
</section>