<footer class="footer">
  <section class="footer__text text-footer">
    <div class="text-footer__container">
      <h2 class="text-footer__title">Златоустовские ножи интернет-магазин "ЗЛАТМАКС"</h2>
      <div class="text-footer__text">
        Наш интернет-магазин "ЗЛАТМАКС" предлагает Вам ножи очень высокого качества из города оружейников - Златоуста.
        Златоустовские ножи известны и популярны среди потребителей как на российским рынке, так и за рубежом: ножи
        охотничьи, хозяйственные, туристические, рыбацкие, складные и метательные. Нож Златоуста - это идеальный друг и
        товарищ в повседневной жизни и в экстремальных ситуациях. На многую продукцию распространяется гарантия до 10
        лет - это один из главных показателей качества. Для Вас на нашем сайте "zlatmax" предложен огромный ассортимент
        Златоустовских ножей. Наши менеджеры помогут определиться и подобрать самый лучший Златоустовский нож,
        ориентируясь на Ваши пожелания.
      </div>
    </div>
  </section>

  <div class="footer__container">
    <div class="footer__body body-footer">
      <div class="body-footer__row">
        <div class="body-footer__item item-footer">
          <div class="item-footer__spoller spoller-item-footer" data-spollers="767.98">
            <div class="spoller-item-footer__item">
              <button class="spoller-item-footer__title" type="button" data-spoller>ИНФОРМАЦИЯ</button>
              <div class="spoller-item-footer__body">
                <nav class="menu-footer">
                  <ul class="menu-footer__list">
                    <li class="menu-footer__item">
                      <a class="menu-footer__link" href="#">Златоустовские ножи в Москве и Московской области</a>
                    </li>
                    <li class="menu-footer__item">
                      <a class="menu-footer__link" href="#">Ножевые стали</a>
                    </li>
                    <li class="menu-footer__item">
                      <a class="menu-footer__link" href="#">О нас</a>
                    </li>
                    <li class="menu-footer__item">
                      <a class="menu-footer__link" href="#">Условия оплаты и доставки</a>
                    </li>
                    <li class="menu-footer__item">
                      <a class="menu-footer__link" href="#">Политика конфиденциальности</a>
                    </li>
                  </ul>
                </nav>
              </div>
            </div>
          </div>
        </div>

        <div class="body-footer__item item-footer">
          <div class="item-footer__spoller spoller-item-footer" data-spollers="767.98">
            <div class="spoller-item-footer__item">
              <button class="spoller-item-footer__title" type="button" data-spoller>СЛУЖБА ПОДДЕРЖКИ</button>
              <div class="spoller-item-footer__body">
                <nav class="menu-footer">
                  <ul class="menu-footer__list">
                    <li class="menu-footer__item">
                      <a class="menu-footer__link" href="#">Златоустовские ножи в Москве и Московской области</a>
                    </li>
                    <li class="menu-footer__item">
                      <a class="menu-footer__link" href="#">Ножевые стали</a>
                    </li>
                    <li class="menu-footer__item">
                      <a class="menu-footer__link" href="#">О нас</a>
                    </li>
                    <li class="menu-footer__item">
                      <a class="menu-footer__link" href="#">Условия оплаты и доставки</a>
                    </li>
                    <li class="menu-footer__item">
                      <a class="menu-footer__link" href="#">Политика конфиденциальности</a>
                    </li>
                  </ul>
                </nav>
              </div>
            </div>
          </div>
        </div>

        <div class="body-footer__item item-footer">
          <div class="item-footer__spoller spoller-item-footer" data-spollers="767.98">
            <div class="spoller-item-footer__item">
              <button class="spoller-item-footer__title" type="button" data-spoller>ДОПОЛНИТЕЛЬНО</button>
              <div class="spoller-item-footer__body">
                <nav class="menu-footer">
                  <ul class="menu-footer__list">
                    <li class="menu-footer__item">
                      <a class="menu-footer__link" href="#">Златоустовские ножи в Москве и Московской области</a>
                    </li>
                    <li class="menu-footer__item">
                      <a class="menu-footer__link" href="#">Ножевые стали</a>
                    </li>
                    <li class="menu-footer__item">
                      <a class="menu-footer__link" href="#">О нас</a>
                    </li>
                    <li class="menu-footer__item">
                      <a class="menu-footer__link" href="#">Условия оплаты и доставки</a>
                    </li>
                    <li class="menu-footer__item">
                      <a class="menu-footer__link" href="#">Политика конфиденциальности</a>
                    </li>
                  </ul>
                </nav>
              </div>
            </div>
          </div>
        </div>

        <div class="body-footer__item item-footer">
          <div class="item-footer__spoller spoller-item-footer" data-spollers="767.98">
            <div class="spoller-item-footer__item">
              <button class="spoller-item-footer__title" type="button" data-spoller>ЛИЧНЫЙ КАБИНЕТ</button>
              <div class="spoller-item-footer__body">
                <nav class="menu-footer">
                  <ul class="menu-footer__list">
                    <li class="menu-footer__item">
                      <a class="menu-footer__link" href="#">Златоустовские ножи в Москве и Московской области</a>
                    </li>
                    <li class="menu-footer__item">
                      <a class="menu-footer__link" href="#">Ножевые стали</a>
                    </li>
                    <li class="menu-footer__item">
                      <a class="menu-footer__link" href="#">О нас</a>
                    </li>
                    <li class="menu-footer__item">
                      <a class="menu-footer__link" href="#">Условия оплаты и доставки</a>
                    </li>
                    <li class="menu-footer__item">
                      <a class="menu-footer__link" href="#">Политика конфиденциальности</a>
                    </li>
                  </ul>
                </nav>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="body-footer__row">
        <div class="body-footer__item item-footer">
          <div class="item-footer__spoller spoller-item-footer" data-spollers="767.98">
            <div class="spoller-item-footer__item">
              <button class="spoller-item-footer__title" type="button" data-spoller>КОНТАКТЫ</button>
              <div class="spoller-item-footer__body">
                <nav class="menu-footer">
                  <ul class="menu-footer__list">
                    <li class="menu-footer__item">
                      <a class="menu-footer__link _icon-footer-phone" href="tel:88007774967">8 (800) 777-49-67</a>
                    </li>
                    <li class="menu-footer__item _icon-footer-clock">
                      <div>
                        <p>Пн-Пт</p>
                        <p>7:00 - 16:00 (МСК)</p>
                      </div>
                    </li>
                    <li class="menu-footer__item _icon-footer-location">
                      <div>
                        <p>Златоуст,</p>
                        <p>ул. Шоссейная,</p>
                        <p>д. 1, офис «6Б»</p>
                      </div>
                    </li>
                    <li class="menu-footer__item">
                      <a class="menu-footer__link _icon-footer-email" href="mailto:info@zlatmax.ru">info@zlatmax.ru</a>
                    </li>
                  </ul>
                </nav>

                <ul class="social-footer">
                  <li class="social-footer__item">
                    <a class="social-footer__link" href="#">
                      <img src="../../assets/img/icons/social/facebook.png" alt="Facebook">
                    </a>
                  </li>
                  <li class="social-footer__item">
                    <a class="social-footer__link" href="#">
                      <img src="../../assets/img/icons/social/viber.png" alt="Viber">
                    </a>
                  </li>
                  <li class="social-footer__item">
                    <a class="social-footer__link" href="#">
                      <img src="../../assets/img/icons/social/telegram.png" alt="Telegram">
                    </a>
                  </li>
                  <li class="social-footer__item">
                    <a class="social-footer__link" href="#">
                      <img src="../../assets/img/icons/social/whatsapp.png" alt="Whatsapp">
                    </a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>

        <div class="body-footer__item item-footer">
          <div class="item-footer__spoller spoller-item-footer" data-spollers="767.98">
            <div class="spoller-item-footer__item">
              <button class="spoller-item-footer__title" type="button" data-spoller>ПОЛЕЗНЫЕ ССЫЛКИ</button>
              <div class="spoller-item-footer__body">
                <nav class="menu-footer">
                  <ul class="menu-footer__list">
                    <li class="menu-footer__item">
                      <a class="menu-footer__link" href="#">Способы оплаты и доставки</a>
                    </li>
                  </ul>
                </nav>
              </div>
            </div>
          </div>
        </div>

        <div class="body-footer__item item-footer">
          <div class="item-footer__spoller spoller-item-footer" data-spollers="767.98">
            <div class="spoller-item-footer__item">
              <button class="spoller-item-footer__title" type="button" data-spoller>НАША ГАРАНТИЯ</button>
              <div class="spoller-item-footer__body">
                <div class="spoller-item-footer__text">
                  Недовольны своей покупкой? Вы можете вернуть ее в течении 30 дней с даты получения, согласно <a
                    href="#">нашим правилам</a>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="body-footer__item item-footer">
          <div class="item-footer__spoller spoller-item-footer" data-spollers="767.98">
            <div class="spoller-item-footer__item">
              <button class="spoller-item-footer__title" type="button" data-spoller>НОВОСТНАЯ РАССЫЛКА</button>

              <form class="spoller-item-footer__body footer-subscribe" action="#">
                <label class="footer-subscribe__label" for="subscribe-input">Подпишитесь прямо сейчас!</label>
                <div class="footer-subscribe__line">
                  <input id="subscribe-input" class="footer-subscribe__input" type="text" name="form[]"
                    autocomplete="off" data-error="Error" data-required="email" placeholder="example@gmail.com">
                  <button class="footer-subscribe__button _icon-arrow-bottom" type="submit"></button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>

      <div class="body-footer__bottom">
        <div class="body-footer__rules">
          Все материалы, размещенные на сайте, носят справочный характер и не являются
          публичной офертой, определяемойположениями Статьи 437 Гражданского кодекса Российской Федерации.
          При копировании материалов гиперссылка на www.zlatmax.ru обязательна!
        </div>
        <div class="body-footer__copy">
          Златоустовские ножи <span>www.zlatmax.ru ©</span>
        </div>
      </div>
    </div>
  </div>
</footer>