<section class="page__main-block main-block">
  <div class="main-block__container">
    <div class="main-block__body">
      <div class="main-block__slider swiper">
        <div class="main-block__swiper swiper-wrapper">
          <div class="main-block__slide slide-main-block swiper-slide">
            <div class="slide-main-block__content">
              <h2 class="slide-main-block__title">11111 Интернет магазин сертифицированных</h2>
              <div class="slide-main-block__sub-title">златоустовских ножей</div>
              <div class="slide-main-block__text">
                Добро пожаловать на официальный сайт «ЗЛАТМАКС»! В нашем магазине
                представлен наиболее широкий выбор Златоустовских ножей от Златоустовских Оружейных Фабрик и компаний,
                мы являемся официальными поставщиками.
              </div>
            </div>

            <a class="slide-main-block__button button" href="#">Подробнее</a>
          </div>

          <div class="main-block__slide slide-main-block swiper-slide">
            <div class="slide-main-block__content">
              <h2 class="slide-main-block__title">11111 Интернет магазин сертифицированных</h2>
              <div class="slide-main-block__sub-title">златоустовских ножей</div>
              <div class="slide-main-block__text">
                Добро пожаловать на официальный сайт «ЗЛАТМАКС»! В нашем магазине
                представлен наиболее широкий выбор Златоустовских ножей от Златоустовских Оружейных Фабрик и компаний,
                мы являемся официальными поставщиками.
              </div>
            </div>

            <a class="slide-main-block__button button" href="#">Подробнее</a>
          </div>

          <div class="main-block__slide slide-main-block swiper-slide">
            <div class="slide-main-block__content">
              <h2 class="slide-main-block__title">11111 Интернет магазин сертифицированных</h2>
              <div class="slide-main-block__sub-title">златоустовских ножей</div>
              <div class="slide-main-block__text">
                Добро пожаловать на официальный сайт «ЗЛАТМАКС»! В нашем магазине
                представлен наиболее широкий выбор Златоустовских ножей от Златоустовских Оружейных Фабрик и компаний,
                мы являемся официальными поставщиками.
              </div>
            </div>

            <a class="slide-main-block__button button" href="#">Подробнее</a>
          </div>
        </div>

        <div class="main-block__controller controller-main-block">
          <div class="controller-main-block__dots"></div>
          <div class="controller-main-block__fraction fraction-controller">
            <span class="fraction-controller__current">01</span> / <span class="fraction-controller__all">0</span>
          </div>
        </div>
      </div>

      <div class="main-block__media media-main-block">
        <div class="media-main-block__body">
          <div class="media-main-block__image">
            <img src="../../assets/img/main/main-block/1.png" alt="Img">
          </div>

          <div class="media-main-block__tips">
            <button data-tippy-content="Подсказка" class="media-main-block__tip media-main-block__tip_1"
              type="button"><span>+</span>
            </button>
            <button data-tippy-content="Подсказка" class="media-main-block__tip media-main-block__tip_2"
              type="button"><span>+</span>
            </button>
            <button data-tippy-content="Подсказка" class="media-main-block__tip media-main-block__tip_3"
              type="button"><span>+</span>
            </button>
          </div>
        </div>
      </div>
    </div>

    <div class="main-block__advantages advantages-main">
      <div class="advantages-main__item">
        <div class="advantages-main__icon">
          <img src="../../assets/img/main/main-block/icons/1.svg" alt="Icon">
        </div>
        <div class="advantages-main__text">Гарантия 100% возврата денежных средств</div>
      </div>

      <div class="advantages-main__item">
        <div class="advantages-main__icon">
          <img src="../../assets/img/main/main-block/icons/2.svg" alt="Icon">
        </div>
        <div class="advantages-main__text">Доставка по России, Казахстану и Белоруссии</div>
      </div>

      <div class="advantages-main__item">
        <div class="advantages-main__icon">
          <img src="../../assets/img/main/main-block/icons/3.svg" alt="Icon">
        </div>
        <div class="advantages-main__text">Возможность оформление заказа без регистрации.</div>
      </div>

      <div class="advantages-main__item">
        <div class="advantages-main__icon">
          <img src="../../assets/img/main/main-block/icons/4.svg" alt="Icon">
        </div>
        <div class="advantages-main__text">Скидки постоянным покупателям.</div>
      </div>
    </div>
  </div>
</section>