<div class="page__header">
  <div class="page__container">
    <nav class="page__breadcrumbs breadcrumbs">
      <ul class="breadcrumbs__list">
        <li class="breadcrumbs__item">
          <a class="breadcrumbs__link" href="#">Главная</a>
        </li>
        <li class="breadcrumbs__item">
          <a class="breadcrumbs__link" href="#">Разделочные ножи</a>
        </li>
        <li class="breadcrumbs__item">
          <span class="breadcrumbs__current">Нож Снегирь</span>
        </li>
      </ul>
    </nav>
  </div>
</div>

<section class="product">
  <div class="product__container">
    <div class="product__main main-product">
      <div class="main-product__images images-product">
        <div class="images-product__slider swiper">
          <div class="images-product__swiper swiper-wrapper">
            <div class="images-product__slide images-product__slide-ibg swiper-slide">
              <img src="../../assets/img/page-product/1.jpg" alt="Img">
            </div>
            <div class="images-product__slide images-product__slide-ibg swiper-slide">
              <img src="../../assets/img/page-product/2.jpg" alt="Img">
            </div>
            <div class="images-product__slide images-product__slide-ibg swiper-slide">
              <img src="../../assets/img/page-product/3.jpg" alt="Img">
            </div>
            <div class="images-product__slide images-product__slide-ibg swiper-slide">
              <img src="../../assets/img/page-product/4.jpg" alt="Img">
            </div>
          </div>
        </div>

        <div class="images-product__thumbs thumbs-images swiper">
          <div class="thumbs-images__swiper swiper-wrapper">
            <div class="thumbs-images__slide thumbs-images__slide-ibg swiper-slide">
              <img src="../../assets/img/page-product/1.jpg" alt="Img">
            </div>
            <div class="thumbs-images__slide thumbs-images__slide-ibg swiper-slide">
              <img src="../../assets/img/page-product/2.jpg" alt="Img">
            </div>
            <div class="thumbs-images__slide thumbs-images__slide-ibg swiper-slide">
              <img src="../../assets/img/page-product/3.jpg" alt="Img">
            </div>
            <div class="thumbs-images__slide thumbs-images__slide-ibg swiper-slide">
              <img src="../../assets/img/page-product/4.jpg" alt="Img">
            </div>
          </div>
        </div>
      </div>

      <div class="main-product__body body-product">
        <div class="body-product__header header-product">
          <div class="header-product__line">
            <h1 class="header-product__title">Нож Снегирь</h1>
            <a class="header-product__link _icon-compare" href="#"></a>
            <a class="header-product__link _icon-favorite" href="#"></a>
          </div>

          <div class="header-product__rating rating">
            <div class="rating__body">
              <div class="rating__active"></div>
              <div class="rating__items">
                <input class="rating__item" type="radio" value="1" name="rating">
                <input class="rating__item" type="radio" value="2" name="rating">
                <input class="rating__item" type="radio" value="3" name="rating">
                <input class="rating__item" type="radio" value="4" name="rating">
                <input class="rating__item" type="radio" value="5" name="rating">
              </div>
            </div>
            <div class="rating__value">3.6</div>
          </div>
        </div>

        <div class="body-product__table table-product">
          <div class="table-product__label">Артикул:</div>
          <div class="table-product__value">AF0000001952</div>
          <div class="table-product__label">Торговая марка:</div>
          <div class="table-product__value">WUESTHOF (Германия)</div>
          <div class="table-product__label">Серия:</div>
          <div class="table-product__value">Ножи серии Classic Ikon</div>
          <div class="table-product__label">Бонусные баллы: </div>
          <div class="table-product__value">38</div>
        </div>

        <div class="body-product__options options-product">
          <div class="options-product__label">Сталь</div>
          <div class="options-product__value">
            <select class="form" name="form[]">
              <option value="1" selected>1</option>
              <option value="2">2</option>
              <option value="3">3</option>
              <option value="4">4</option>
            </select>
          </div>
        </div>
        <div class="body-product__actions actions-product">
          <div class="actions-product__price">3 865</div>
          <div class="actions-product__row">
            <div class="actions-product__quantity quantity">
              <button class="quantity__button quantity__button_plus" type="button"></button>
              <div class="quantity__input">
                <input type="text" name="form[]" value="1" autocomplete="off">
              </div>
              <button class="quantity__button quantity__button_minus" type="button"></button>
            </div>
            <div class="actions-product__buttons">
              <a class="actions-product__cart button" href="#"><span class="_icon-cart">В корзину</span></a>
              <a class="actions-product__button button button_black" href="#">Купить в 1 клик</a>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="product__info product-info" data-tabs="992">
      <nav class="product-info__navigation" data-tabs-titles>
        <button class="product-info__title _tab-active" type="submit">Описание</button>
        <button class="product-info__title" type="submit">Характеристика</button>
        <button class="product-info__title" type="submit">Отзывы</button>
        <button class="product-info__title" type="submit">Доставка</button>
      </nav>
      <div class="product-info__content" data-tabs-body>
        <div class="product-info__body">
          <p class="product-info__text">
            Легкий удобный нож с клинком, имеющим пологие вогнутые линзовидные спуски на две трети ширины клинка,
            образующие тонкое,
            прекрасно режущее лезвие толщиной около 0,6 мм в районе подводов.
          </p>

          <p class="product-info__text">
            Обух клинка со спинкой рукояти имеет одну плавную дугообразную линию. На пяте перед рукоятью есть
            подпальцевый
            вырез для точных работ.
          </p>

          <p class="product-info__text">
            Необходимо проявлять некоторую осторожность при работе с большими боковыми нагрузками на лезвие ножа, ввиду
            небольшой толщины клинка
            в рабочей части.
          </p>

          <p class="product-info__text">
            Монтаж рукояти накладной плашечный. На навершии рукояти, функцию которого выполняет выступающий из под
            плашек
            хвостовик,
            имеется отверстие под темляк. Этот нож удобный помощник при работе с продуктами и охоте на боровую и
            водоплавающую дичь.
          </p>
        </div>
        <div class="product-info__body">
          2 Lorem ipsum, dolor sit amet consectetur adipisicing elit. Molestias, unde.
        </div>
        <div class="product-info__body">
          3 Lorem ipsum, dolor sit amet consectetur adipisicing elit. Molestias, unde.
        </div>
        <div class="product-info__body">
          4 Lorem ipsum, dolor sit amet consectetur adipisicing elit. Molestias, unde.
        </div>
      </div>
    </div>
  </div>
</section>